body {
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 2px solid lightgray;
}

h1 {
  text-align: center;
  color: #a4ff00;
}

label {
  color: #a4ff00;
}

#primeiroNumero,
#segundoNumero {
  font-size: 15px;
}

#botaoCalcular {
  background-color: #a4ff00;
  padding: 5px;
  border-radius: 7px;
  font-size: 14px;
}

.entradas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex {
  display: flex;
}

main {
  background-color: rgb(63, 60, 60);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 20px;
}

.bordaGeral {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.calculo {
  width: 300px;
  padding-left: 15px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.calculo:last-child {
  border-right: none;
}

.calculoRotulo {
  color: rgb(111, 111, 174);
}

.calculoResultado {
  font-size: 1.5em;
  color: white;
}
